.background {
    -fx-background-color: #404040;
}

.light_background{
	-fx-background-color: green;	
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1.0;
}

.text-field{
    -fx-background-color: #696969;
    -fx-text-fill: white;
}

.table-view{
    -fx-base: #2f2f2f;
    -fx-control-inner-background: #2f2f2f;
    -fx-background-color: #2f2f2f;
    -fx-border-color: white;
    -fx-border-width: 1.0;
    
       }

.menu{
		 -fx-background-color: #2f2f2f;	    
	
	
}


.menu-item{
	-fx-text-fill: black;
		 -fx-background-color: #2f2f2f;	    
	
	 } 



.menu-bar{
	 -fx-background-color: #2f2f2f;	    
}